body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 布局 */
.pl_12,
.px_12 {
  padding-left: 12px;
}

.pr_12,
.px_12 {
  padding-right: 12px;
}

.pt_12,
.py_12 {
  padding-top: 12px;
}

.pb_12,
.py_12 {
  padding-bottom: 12px;
}

.pt_16,
.py_16 {
  padding-top: 16px;
}

.pb_16,
.py_16 {
  padding-bottom: 16px;
}

.pl_16,
.px_16 {
  padding-left: 16px;
}

.pr_16,
.px_16 {
  padding-right: 16px;
}

/* 页面 */
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.App__content {
  flex: 1;
  overflow: auto;
}
.App__header,
.App__footer {
  flex-shrink: 0;
}

.App__header {
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  z-index: 10;
  position: relative;
}

.PageHeader {
  height:56px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.PageHeader__center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.PageTitle {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  outline: none;
  padding: 5px 10px;
  color: #333;
  border: 1px solid #333;
  border-radius: 6px;
  background: white;
  text-decoration: none;
  font-size: 14px;
}

.button_sm {
  padding: 3px 6px;
}

.button_merge {
  border-color: transparent;
}

.button_dashed {
  border-style: dashed;
}

.button_block {
  display: block;
  width: 100%;
}

.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
}
.Landing__inner {
  width: 80%;
  max-width: 280px;
}
.Landing__desc {
  margin-bottom: 16px;
}
.Landing__action {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.AvatarStamp {
  display: flex;
  align-items: center;
}
.AvatarStamp__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}